/* Globala stilar */
body {
    background-color: #160b01;
    margin: 0; /* Ta bort standardmarginaler */
    padding: 0; /* Ta bort standardpaddingar */
}

/* .image-container-o */
.image-container-o {
    position: relative; /* Ändrat till relative för att fungera bra med absolut positionerade element */
    width: 100%;
    height: 400px;
    overflow: hidden;
}

.image-container-o img {
    width: 100%;
    height: auto;
    display: block; /* Gör att bilden inte får extra utrymme */
}

/* Rubrik-text */
.rubrik-text {
    position: absolute;
    width: 90%; /* Ändrat till 90% för bättre responsivitet */
    top: 20%;
    left: 50%;
    transform: translateX(-50%); /* Centrera rubrik-texten */
    margin: 5px;
    background-color: rgba(171, 148, 148, 0.937);
    border-radius: 10px;
    padding: 20px;
    text-align: center; /* Centrera textinnehållet */
}

.rubrik-text h2 {
    font-size: 2.5rem;
    margin-bottom: 10px;
    color: #ffffff;
}

/* Grundare */
.grundare {
    width: 100%; /* Gör den responsiv */
    max-width: 400px; /* Sätter ett maxvärde för att undvika att bli för stor */
    margin: 50px auto; /* Centrera elementet */
    padding: 20px;
    position: relative; /* Ställ in positionen till relativ */
}

.grundare img {
    width: 100%; /* Gör bilden responsiv */
    height: auto;
    display: block; /* Tar bort extra utrymme */
}

/* Om-text */
.Om-text {
    border: 2px solid #fffbfc;
    padding: 30px; 
    border-radius: 5px;
    background-color: rgba(187, 160, 160, 0.885);
    box-shadow: 0 4px 8px rgb(255, 253, 253);
    max-width: 800px;
    margin: 50px auto; /* Centrera om-texten */
    text-shadow: 2px 2px 5px #653f61;
    text-align: center;
    font-size: 1.7em;
}

.Om p {
    color: #ffffff;
}

/* Feedback */
.feedback {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    margin: 30px auto; /* Centrera feedback-sektionen */
    color: #24052f;
    max-width: 600px; /* Sätt en maxbredd för feedback-sektionen */
}

.feedback h2 {
    color: #000;
    font-size: 1.5em;
    margin-bottom: 10px;
    text-align: center; /* Centrera rubriken i feedback */
}

/* Formulärstilar */
.feedback label {
    display: block;
    margin: 10px 0 5px;
}

.feedback input,
.feedback textarea {
    width: 90%;
    padding: 10px;
    border: 1px solid gray;
    border-radius: 5px;
    margin: 10px auto; /* Centrera fälten */
    display: block; /* Gör att input fälten fyller bredden */
}

.feedback button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: rgb(63, 0, 250);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: block; /* Centrera knappen */
    margin-left: auto;
    margin-right: auto;
}





/* Validerat */

/* Klart */
