/* Header*/
header {
    display: flex;
    background-color: #c2bfba;
    background: linear-gradient(90deg, #2b1e06c8, #7b6262, #b8a495);
    justify-content: space-between;
    padding: 5px 5px;
    text-align: center;
    color: rgba(249, 75, 139, 0.703);
    box-shadow: #30201b;
}

.logo img {
    display: block;
    width: 100px;
    height: auto;
    margin-right: 100%;
    border-radius: 5px;
}

.header-pic img {
    width: 100%;
    height: 200px;
    overflow: hidden;
    display: block;
    filter: blur(2px);
    background-attachment: fixed;

    background-size: cover; /* täcker hela ytan */
    background-position: center; /* Centrera bilden */
    height: 300px; 
    position: relative; 
} 



.menu {
    display: flex;
    list-style: none;
    margin-left: auto;
    padding: 0;
    justify-content: end; /*Flyttar menyn åt slutet  */
    gap: 10px;
    cursor: pointer;
}



.menu a {
    display: block;
    padding: 10px 13px;
    background-color: #d2bbaac1;
    flex: auto;
    box-shadow: 2px 2px 5px #b28686;
    color: rgb(255, 255, 255);
    border-radius: 2px;
    text-decoration: none; /*tar bort understreck */
    cursor: pointer;
}

.menu li {
    margin-right: 5px;
    text-align: right;
    text-shadow: 2px 2px 8px rgb(rgba(255, 0, 0, 0.352), rgb(255, 48, 176), rgb(245, 152, 203));
    cursor: pointer;
}
/*-------------------------------------------------------------------------------------------------------------  */

.img-pic img {
    width: 500px;
    height: auto;
    max-width: 500px;
    display: block;
    margin: 0 auto; /* Centrerar bilden */
}


.image-container-o {
    position:static;
    width: 100%;
    height: 400px;
    overflow: hidden;
}

.image-container-o img {
    width: 100%;
    height: auto;
}

.rubrik-text {
    position: absolute;
    width: 300px;
    top: 20%;
    left: 40%;
    margin-right: 350px;
    margin: 5px;
    background-color: rgba(171, 148, 148, 0.937);
    border-radius: 10px;
    padding: 20px;

}

.rubrik-text h2 {
    font-size: 2.5rem;
    margin-bottom: 10px;
    color: #ffffff;
    
}

.grundare {
    width: 400px;
    margin: 50px;
    padding: 20px;

    position: sticky;
    width: 50%;
    height: 200px;
}

.grundare img {
    width: 100%;
    height: auto;

}

.Om-text {
    border: 2px solid #fffbfc;
    padding: 30px; 
    border-radius: 5px;
    background-color: rgba(187, 160, 160, 0.885);
    box-shadow: 0 4px 8px rgb(255, 253, 253);
    max-width: 800px;
    margin: 50px;
    margin-left: 350px;
    text-shadow: 2px 2px 5px #653f61;
    text-align: center;
}

.Om p {
    color: #ffffff;
}



body {
    background-color: #160b01;
    
}