/* Borttagen Header */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 3px black;
    background: linear-gradient(90deg, #2b1e06c8, #7b6262, #b8a495);
    text-shadow: 1px 1px 3px #9a9a99;   
    flex-direction: column; /* Staplar elementen, råkade ta bort den och allt flöt huller om buller */
    min-height: 100vh; 
}
/*-------------------------------------------------------------------------------------------------------------  */


.f-image-container {
    position:static;
    width: 100%;
    height: 400px;
    overflow: hidden;


}

.f-image-container img {
    width: 100%;
    height: auto;
    filter: blur(5px);
}

.text-f-overlay {
    position: absolute;
    width: 300px;
    top: 20%;
    left: 42%;
    background-color: #d6cecb31;
    border-radius: 20px;
    padding: 20px;
    text-align: center;
}

.text-f-overlay h2 {
    font-size: 4rem;
    margin-bottom: 10px;
    text-shadow: 5px 5px 10px #635f5f;
}

/* ______________________________________________________________________________Formulären__________________ */


form {
    width: 400px;
    margin: 20px auto;
    padding: 30px;
    border-radius: 10px;
}


.book-box, .preference-box {
    margin: 20 auto; /* Centrera  */
    width: 80%; /* Bredd */
}


/*_______________ Boxen runt om formulären */

.book-box {
    border: 2px solid rgba(8, 8, 8, 0.137);
    border-radius: 10px;
    padding: 10px;
    margin-top: 20px;
    width: 450px;
    background: #0000003d;
    font-size: 1.3em;
    text-align: center;
    text-shadow: 2px 2px 4px #000000;
}
/*_______________ Boxen runt om formulären */


input:invalid {
    border: 2px solid rgb(255, 94, 134);
    background-color: #fce4e4; 
}

input:valid {
    border: 2px solid rgb(2, 179, 2);
 } 

.days-box, .preference-box {
    margin-top: 20px;
    padding: 10px;
    width: 100%;
    border: 2px solid #575252e5;
    background-color: #bea5a54d;
    color: #ffffff;
    text-shadow: 2px 2px 5px #3f3a3e;
    border-radius: 15px;
    box-shadow: 2px 2px 5px rgb(116, 96, 102);
    text-align: center;
    overflow: auto;
}

h2 {
    color: #ffffff;
    text-shadow: 2px 2px 5px rgb(0, 0, 0);
    text-decoration: underline;
    font-size: 1.6em;
    font-style: italic;

}

.mini-rubrik {
    color: #ffffff;
    text-shadow: 2px 2px 5px rgb(0, 0, 0);
    text-decoration: underline;
    font-size: 1.1em;
    font-style: italic;
}

.form-section {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 20px;
    gap: 20px;
    text-shadow: 2px 2px 4px #000000;

}
/* ______________________________________________________________________________________Formulären__________________ */

/* ___________Fortsätt knapparna_____________________ */

.continue-wrapper {
    margin: 15px auto;
    padding: 5px;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
}

.continue {
    margin: 0;
}

.button-link {
    display: inline-block;    
    padding: 10px 10px;
    color: #ffffff;
    background-color: #7c586e3f;
    text-shadow: 1px 1px 3px#171717;
    text-decoration: none;
    border-radius: 10px;
    cursor: pointer;
}

/* ___________Fortsätt knapparna_____________________ */


/* Borttagen footer */

@media (max-width: 768px) {
    .header {
        flex-direction: column;
        align-items: center;
    }


    .logo img {
        max-width: 80px;
        margin-bottom: 10px;
    }

    .menu {

    }

    .f-image-container {

    }

    .text-f-overlay {

    }

    .preference-box {


    }

    .form-section {

    }

    .days-box {

        
    }




}



/* Media queries för responsiv design */
@media (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: center;
    }

    .menu {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 5px;
    }

    .text-overlay {
        width: 90%;
        margin: 0 auto;
        font-size: 2rem;
        padding: 10px;
    }

    .info {
        width: 80%; 
        top: 50%; 
        left: 50%; 
    }

    .event-footer {
        font-size: 1rem;
    }
}

@media (max-width: 480px) {
    .text-overlay h2 {
        font-size: 1.5rem; 
    }

    .info h2 {
        font-size: 1.8rem; 
    }

    .info {
        width: 95%; 
        font-size: 1rem;
    }

    .menu {
        gap: 5px;
    }

    .menu a {
        padding: 5px;
        font-size: 0.8rem; /* Minska textstorleken på små skärmar */
    }
}

@media (max-width: 300px) {
    .text-overlay {
        font-size: 1.2rem; /* Textstorlek för små skärmar */
        padding: 5px; /* Minska padding */
    }

    .info {
        font-size: 1rem; 
    }

    .menu a {
        padding: 5px; 
    }
}
