/* Borttagen Header */


body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 3px black;
    background-color: #7b6262;
    text-shadow: 1px 1px 3px #9a9a99;   
    flex-direction: column; /* Staplar elementen, råkade ta bort den och allt flöt huller om buller */
    min-height: 100vh; 
}
/*-------------------------------------------------------------------------------------------------------------  */

.container, .h1 {
    color: #fcfaf8c1;
    text-align: center;
}


/* Borttagen footer */
