/* Borttagen Header */

html, body {
    height: 100%; /* Sätter höjd på html och body till 100% */
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 3px black;
    background-color: #c0a5a5;
    text-shadow: 1px 1px 3px #9a9a99;   
    flex-direction: column; /* Staplar elementen, råkade ta bort den och allt flöt huller om buller */
    min-height: 100vh; 
    display: flex;
    top: 500px;
    flex-direction: column;
}
main {
    flex: 1;  /*Tar upp extra utrymme*/

}
/*--------------------------------------------------------------------------------------------------------------------------------------------- */

.program {
    width: 700px;
    margin: 30px;
    padding: 30px;
    flex-direction: row;
}

.section-q {
    width: 700px;
    top: 100%;
    left: 50%;
    background-color: #ffffff18;
    border-radius: 10px;
    padding: 30px;
    margin: 20px;
    margin-left: 300px;
}

.rubrik h1 {
    font-size: 3.5rem;
    margin-bottom: 50px;
    color: white;
    text-align: center;
}

/* Schema */

.Schema h2 {
    font-size: 27px;
    color: rgb(255, 255, 255);
    text-align: end;
}

.Schema u {
    color: #24052f;
    text-shadow: 2px 2px 4px solid rgb(0, 0, 0);
    font-size: 18px;
}

.Schema h2,u {
    color: #ffffff;
    text-shadow: 2px 2px 4px rgba(226, 115, 209, 0.216);
    font-size: 18px;
}

.Schema {
    display: flex;
    flex-wrap: wrap;

}

.speaker {
    
} 

.seminarie-title {
    font-style: italic;

}

 .Schema .Dag-1, 
 .Schema .Dag-2,
 .Schema .Dag-3
 {
    justify-content: space-between;
    color: rgb(255, 249, 249);
    /* width: calc(33.3 - 20px); */
    /* height: auto; */
    background: linear-gradient(90deg, rgb(213, 196, 180), rgb(178, 142, 149));
    border: 2px solid rgb(107, 102, 102);
    padding: 30px;
    margin: 40px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px#f6f5f4c1;
}   

 .seminarie .section-a,
 .seminarie .section-b,
 .seminarie .section-c,
 .seminarie .section-d,
 .seminarie .section-e,
 .seminarie .section-f,
 .seminarie .section-g,
 .seminarie .section-h,
 .seminarie .section-i,
 .seminarie .section-j {
    display: flex;
    flex-wrap: wrap-reverse;
    /* justify-content: space-between; */
    color: #111010;
    width: 300px;
    height: auto;
    border: 2px solid grey;
    padding: 20px;
    margin: 30px;
    border-radius: 10px;
    background-color: #6c656581;
    
}

.seminarie, .pic-1 img
.seminarie, .pic-2 img
.seminarie, .pic-3 img
.seminarie, .pic-4 img 
.seminarie, .pic-5 img 
.seminarie, .pic-6 img
.seminarie, .pic-7 img 
.seminarie, .pic-8 img
.seminarie, .pic-9 img
.seminarie, .pic-10 img {
    width: 150px;
    top:    20px;
    padding: 20px;
    margin: 30px;
    margin-bottom: auto;
}

.seminarie img {
    max-width: 100%;
    height: auto;
    display: grid;
    margin: 0 auto;
}

/* Borttagen footer */






@media (max-width: 768px) {

    .rubrik {


    }

    .Schema {


    }


    .program-footer {
        padding: 20px 10px;
    }
       .seminarie > section {
        flex: 0 0 calc(50% - 20px); /* Två seminarier per rad */
    } 
    .seminarie > section {
        flex: 0 0 100%; /* En seminarie per rad */
    }


}

