/* Header */
.event-header {
    display: flex;
    background-color: #302103;
    background: linear-gradient(90deg, #302103, #917b6a);
    justify-content: space-between;
    padding: 5px 5px;
    text-align: center;
    color: rgba(249, 75, 139, 0.703);
    box-shadow: #30201b;
    cursor: pointer;
}

.logo img {
    display: block;
    width: 100px;
    height: auto;
    margin-right: 100%;
    border-radius: 5px;
}

.menu {
    display: flex;
    list-style: none;
    margin-left: auto;
    padding: 0;
    justify-content: flex-end; /*Flyttar menyn åt slutet  */
    gap: 10px;
}

.menu a {
    display: block;
    padding: 10px 13px;
    background-color: #a98d78;
    flex: auto;
    text-shadow: 2px 2px 4px solid #a7929a;
    color: rgb(255, 255, 255);
    border-radius: 6px;
    text-decoration: none; /*tar bort understreck */
    cursor: pointer;
}

.image-container {
    position:static;
    width: 100%;
    height: 400px;
    overflow: hidden;


}

.image-container img {
    width: 100%;
    height: auto;
}

.text-overlay {
    position: absolute;
    width: 400px;
    top: 20%;
    left: 40%;
    background-color: #d7d4d3a7;
    border-radius: 10px;
    padding: 20px;

}

.text-overlay h2 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}





.info {
    border: 2px solid #474747;
    padding: 20px; 
    border-radius: 5px;
    background-color: rgba(53, 45, 45, 0.119);
    box-shadow: 0 4px 8px rgb(0, 0, 0);
    max-width: 500px;
    margin: 5px;
    text-shadow: 2px 2px 5px #9a9a99;
}

.info h1 {
  font-size: 50px;  
  color: #000000;

}


.info button {
    color: rgb(107, 105, 107);
    background-color: #ffffff;
    text-decoration: none;
    border-radius: 2px;
    cursor: pointer;

}


.info button a {
    text-decoration: none;
    position: relative;
    top: 50%;
    color: rgb(0, 0, 0); 
    text-shadow: 2px 2px 8px solid rgb(157, 150, 150); 
    font-size: 15px; 
    text-align: left;
}

.Schema button a {
    text-decoration: none;
    position: relative;
    top: 50%;
    color: rgb(0, 0, 0); 
    text-shadow: 2px 2px 8px solid rgb(157, 150, 150); 
    font-size: 15px; 
    text-align: left;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: rgb(0, 0, 0);
    background-color: #ded5cc;
    text-shadow: #9a9a99;
}


.event-footer {
    background-color: #302103;
    padding: 40px;
    text-align: center;
    color: rgb(0, 0, 0);
    border-radius: 5px;
    display: flex;
    background: linear-gradient(90deg, #302103, #917b6a);
    padding: 5px 5px;
    text-align: center;
    color: rgba(249, 75, 124, 0.703);
    box-shadow: #30201b;
}

  @media (max-width: 768px) {
    .event-header {
        flex-direction: column;
        align-items: center;

    }

  .text-overlay {

    font-size: 1.8rem;
  }


    .event-footer {
    font-size: 1rem;

    }

    .img-pic {
        
    }

    .menu {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 5px;
}

    .menu a {
        flex: none;
        width: 100%;
        text-align: center;

    }

    .header-pic {


    }













  }
